.btn{
    background-color: rgb(84, 209, 84);
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    padding: 15px 20px;
    text-decoration: none;
    transition: ease .5s all;
}

.btn:hover{
    background-color: rgb(84, 180, 84);
}